body {
    font-family: "Roboto", sans-serif;
    background-color: #FF6555;
}

textarea, input, button { 
    outline: none; 
}



.pc-header {
     position: fixed;
    left: 0;
    z-index: 2;
    top: 0;
    width: 100%;
    background-color: #FF6555;
    -webkit-box-shadow: 0px 3px 14px -1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 3px 14px -1px rgba(0,0,0,0.35);
    box-shadow: 0px 3px 14px -1px rgba(0,0,0,0.35);
    height: 4em;
    line-height: 2em;
    color: white;
    font-weight: 200;
    transition: 0.4s;
}

.pc-header p {
    margin-left:15px;
}

.mobile-header {
    display: none;
    position: fixed;
    left: 0;
    z-index: 2;
    top: 0;
    width: 100%;
    background-color: #FF6555;
    -webkit-box-shadow: 0px 3px 14px -1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 3px 14px -1px rgba(0,0,0,0.35);
    box-shadow: 0px 3px 14px -1px rgba(0,0,0,0.35);
    height: 3.5em;
    line-height: 1.5em;
    color: white;
    font-weight: 200;
    transition: 0.4s;
    text-align: center;

}

@media screen and (max-width:600px) {
    .pc-header {
        display: none;
        transition: 0.4s;
    }
    .mobile-header {
        display: block;
        transition: 0.4s;
    }
}

#main {
    margin-top:120px;
}

.container {
    text-align: center;
    margin: 0 auto;
    width: 90vw;
    color: white;
}

.container b {
    font-weight: 500;
}

#form_information {
    text-align: center;
    width:80vw;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width:600px) {
    #main {
        margin-top: 90px;
    }
    
    .container {
        font-weight: 200;
    }
    
    #form_information {
        font-weight: 200;
    }
}

.inputs {
    box-sizing: border-box;
    border:0px;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    border-bottom:2px solid white;
    transition: 0.5s;
    text-align: center;
    margin-bottom: 10px;
    height:40px;
    color: white;
}

.inputs:focus {
    border-bottom: 2px solid #2ecc71;
    transition: 0.2s;
}

.input {
    box-sizing: border-box;
    outline: none;
    border:0px;
    background-color: transparent;
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    border-bottom:2px solid white;
    transition: 0.5s;
    height:40px;
    color: white;
}

.input:focus {
    border-bottom: 2px solid #2ecc71;
    transition: 0.2s;
}

.input::placeholder {
    color:#bdc3c7;
}

.inputs::placeholder {
    color:#bdc3c7;
}
#form_location_from {
    width:150px;
}

#form_location_to {
    width:150px;
}

#map_canvas {
	width: 70vw;
	height: 565px;
    border-radius: 5px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 1px 25px 5px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 1px 25px 5px rgba(0,0,0,0.46);
    box-shadow: 0px 1px 25px 5px rgba(0,0,0,0.46);
    margin-bottom:20px;
}

@media screen and (max-width:600px) {
    #map_canvas {
        height:400px;
        width:90vw;
        margin: 0 auto;
            margin-bottom:20px;

       -webkit-box-shadow: 6px 0px 10px 0px rgba(0,0,0,0.38);
        -moz-box-shadow: 6px 0px 10px 0px rgba(0,0,0,0.38);
        box-shadow: 6px 0px 10px 0px rgba(0,0,0,0.38);
    }
    
    .input {
        border-bottom: 1px solid white;
    }
    .inputs {
        border-bottom: 1px solid white;
    }
}

.button {
    position: fixed;
    text-align: center;
    width:200px;
    border-radius: 5px;
    height:50px;
    margin:0 auto;
    border: 0;
    background-color: #FF6555;
    color: white;
    text-decoration: none;
    transition: all ease .5s;
    -webkit-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.42);
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.button:active {
    transition: all ease .5s;
    background-color: #ff5d4c;
-webkit-box-shadow: 0px 6px 12px 1px rgba(0,0,0,0.28);
-moz-box-shadow: 0px 6px 12px 1px rgba(0,0,0,0.28);
box-shadow: 0px 6px 12px 1px rgba(0,0,0,0.28);
}

.button:focus {   
    transition: all ease .5s;
    border:0;
    background-color: #ff5d4c;
-webkit-box-shadow: 0px 6px 12px 1px rgba(0,0,0,0.28);
-moz-box-shadow: 0px 6px 12px 1px rgba(0,0,0,0.28);
box-shadow: 0px 6px 12px 1px rgba(0,0,0,0.28);
}

.button:hover {
    background-color: #ff7263;
    transition: all ease .5s;
}

#btn-submit {
    margin-top:10px;
	margin-bottom:20px;
}

#form_information {
    color:white;
    width: 500px;
    line-height: 1.4em;
}


@media screen and (max-width:600px) {
    .button {
        width: 40vw;
        -webkit-box-shadow: 0px 6px 5px 0px rgba(176,73,63,0.54);
        -moz-box-shadow: 0px 6px 5px 0px rgba(176,73,63,0.54);
        box-shadow: 0px 6px 5px 0px rgba(176,73,63,0.54);
    }
    
    #form_information {
        width: 80vw;
    }
}


.spinner{
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#preloader {
  height:100%;
  width:100%;
  background:#FF6555;
  position:fixed;
  left:0;
  top:0;
  z-index: 99;
 }

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#splash {
  height:100%;
  width:100%;
  position: fixed;
  background:#FF6555;
  color: white;
  top:0;
  left:0;
  z-index: 109;
  display: none;
  transition: all ease 1.5s;
}

#container {
    height:300px;
    width:400px;
    margin: 0 auto; 
    margin-top:40px;
}

.splash-content {
    text-align: center;
}

.splash-content a {
    line-height: 3.4em;
}
/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  transition: .3s ease-out;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-out;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}

.waves-effect img {
  position: relative;
  z-index: -1;
}

.waves-notransition {
  transition: none !important;
}

.waves-circle {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}

.waves-block {
  display: block;
}

/* Firefox Bug: link not triggered */
.waves-effect .waves-ripple {
  z-index: -1;
}

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.waves-float:active {
  -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}