@font-face {
    font-family: 'Product Sans';
    src: url('product_regular.ttf');
	font-weight:500;
}

@font-face {
    font-family: 'Product Sans';
    src: url('product_bold.ttf');
	font-weight:600;
}


